# Database
data/
*.db
*.db-shm
*.db-wal

# Nuxt
.nuxt/
.output/
dist/

# Node
node_modules/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Video originals (keep only converted)
public/video/*.MOV
